################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TinderInsignia/node_modules
/TinderInsignia/obj/Debug
